.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}
.padding-1rem{
  padding: 1rem;
}
.off-set{
  height: 120px;
}
.black-underline{
  border-bottom: 1px solid black;
}
.preamble{
  font-size: 1.3rem;
  margin: 2rem auto 2rem auto;
  flex-direction: column;
  padding: 1rem;
}
.preamble > p:nth-child(1){
  border-left: 5px solid gray;
  padding-left: 1rem;
}
.preamble-link-text{
  margin: 1.5rem 0 1.5rem 0;
  max-width: 900px;
}
.title{
  color: white;
  background: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  padding: 1.5rem;
  gap: 30px;
  text-align: center;
}
.life-at-lowell{
  color: white;
  background: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  gap: 30px;
  text-align: center;
  .responsive-video{
    width: 100%;
    height: auto;
    max-width: 800px;
  }
  
}
.nav-links{
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5% 0 5%;
  height: 120px;
  width: 100vw;
  font-weight: bold;
  z-index: 2;
  top: 0;
  transition: background 0.3s ease;
}
.nav-links:hover, .first-dropdowns > a:hover .nav-links{
  background: white;
}
.nav-links img{
  margin-right: 100px;
}
.nav-links div:last-child{
  margin-right: 20px;
}
.ham-first-dropdowns, .dropdown, .big-dropdown {
  transition: margin-bottom 0.3s ease;
}
.scroll-icon{
  position: absolute;
  font-size: 2.2rem;
  bottom: 10px;
  right: 50%;
  color: white;
}


.hero-video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  position: relative;
  border: none;
}
.intro-container {
  position: absolute;
  background: linear-gradient(135deg, rgba(134, 18, 18, 0.9), rgba(200, 50, 50, 0.8));
  width: 500px; 
  height: auto;
  padding: 2rem;
  bottom: 5%;
  right: 5%;
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.intro-container::before {
  position: absolute;
  content: "";
  width: 50px; 
  height: 5px; 
  background-color: rgba(200, 50, 50, 1); 
  top: -10px; 
  left: 20px; 
  border-radius: 5px;
}

.intro-container h2 {
  font-size: 2.5rem; 
  font-weight: 700;
  margin-bottom: 1rem;
}

.intro-container a {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white; 
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2); 
  padding: 0.5rem 1.5rem;
  border-radius: 5px; 
  transition: background 0.3s ease, color 0.3s ease;
}

.intro-container a:hover {
  background: rgba(255, 255, 255, 0.5); 
  color: #861212; 
}
.lsa-boards {
  padding: 3rem 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #f2f2f2; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
.board-description,
.board-image {
  width: 45%;
  max-width: 500px;
  flex: 1;
  text-align: center;
  padding: 2rem;
  background: white; 
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  position: relative;
}
.board-description:hover,
.board-image:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.board-image img:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.board-description h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.board-description p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.board-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.link{
  display: block;
  text-decoration: none;
  position: relative;
}

.flex-between{
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
.dropdown-icon, .big-dropdown-icon, .second-dropdown-icon{
  color: inherit;
  font-size: 1.3rem;
}
.second-dropdown-icon{
  position: absolute;
  top: 25%;
  right: 20px;
}

.dropdowns{
  background: var(--lowell-red);
  position: absolute;
  z-index: 1;
  top: 76px;
  left: 0px;
  border: 3px solid var(--lowell-red);
  width: 200px;
  display: none;
}
.first-dropdowns:hover .dropdowns,
.dropdowns:hover{
  display: block; 
}

.first-dropdowns:hover .big-dropdowns{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 200px 30px 200px;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
}

.dropdowns:last-child{
  border-bottom-right-radius: 30px;
}
.dropdown:last-child:hover{
  border-bottom-right-radius: 28px;
}
.dropdown > .link{
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.big-dropdown > .link{
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.first-dropdowns{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-dropdowns > a {
  display: block; 
  color: var(--lowell-red);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.first-dropdowns > a::after{
  content: '';
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 35px;
  width: 0;
  background: var(--lowell-red);
  transition: width .2s;
}
.first-dropdowns:hover a:after{
  width: 100%;
}
.dropdowns {
  background: var(--lowell-red);
  position: absolute;
  z-index: 1;
  top: 100%; /* Position dropdown below the parent */
  left: 0;
  border: 3px solid var(--lowell-red);
  width: 200px;
  display: none;
}
.big-dropdowns{
  background: var(--lowell-red);
  position: fixed;
  z-index: 1;
  top: 120px;
  left: 0;
  border: 3px solid var(--lowell-red);
  width: 100vw;
  display: none;

}
.big-dropdowns > .big-dropdown{
  width: 300px;
}
.big-dropdown > .link{
  justify-content: space-between;
  border-bottom: 1px solid orange;
}
.big-second-dropdowns{
  background: var(--title-color);
  flex-wrap: wrap;
  left: 0;
  width: 100vw;
  position: fixed;
  top: inherit;
  padding: 2rem 15% 2rem 15%;
  font-weight: normal;
  border-radius: 0;
  gap: 10px;
  justify-content: center;
}


.big-dropdowns:hover a:last-child{
  border-radius: 0px !important;
}

.dropdown:hover, .big-dropdown:hover {
  background: white;
}

.hero-image{
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.banner{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.hero-title{
  width: 100%;
  font-size: 2rem;
}
.hero-texts{
  padding: 40px;
  margin: 1rem auto;
  letter-spacing: 5x;
  max-width: 800px;
}
.hero-description{
  margin-top: 40px;
  font-size: 1.3rem;
}

.class-board-links{
  background: var(--lowell-red);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 25% 80px 25%;
  gap: 30px;
}
.class-board{
  width: 284px;
  height: 284px;
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 2rem;
  align-items: start;
  padding: 1rem;
  border-radius: 1rem;
}
.pdf{
  margin: 0 auto;
  height: 800px;
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 4 / 3;
}
.instagram-app-link{
  padding: 1rem;
  color: white;
  font-size: 1.3rem;
}
.hero-link{
  width: 284px;
  height: 369px;
}
.hero-links{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 100px auto;
}
.election-results {
  min-height: 600px;
  background-color: #f5f5f5;
  padding: 2rem 0; 
}

.freshmen-election-title {
  height: auto; 
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem; 
  color: var(--lowell-red); 
}

.election-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 912px;
  width: 90%; 
  padding: 30px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.election-outer-container:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.election-inner-container {
  padding: 1.5rem; 
  background-color: #ffffff;
  width: 100%;
  border-left: 6px solid green; 
}

.election-inner-container > h3 {
  height: auto; 
  margin-bottom: 1rem; 
  font-size: 1.8rem;
  font-weight: 600; 
}

.election-inner-container > p {
  height: auto;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #333;
}

.second-dropdowns {
  background: var(--lowell-red); 
  position: absolute;
  z-index: 2;
  top: 0;
  left: 100%; 
  width: 200px;
  border: 3px solid var(--lowell-red);
  border-radius: 0 0 35px 0;
  overflow-y: auto;
  display: none; 
}
.big-second-dropdowns{
  z-index: 2;
  display: none;
}


.dropdown:hover .second-dropdowns{
  display: block;
}


.second-dropdowns > a, .big-second-dropdowns > a{
  color: white !important;
  display: block;
  padding: 10px 15px; 
  text-decoration: none; 
}


.second-dropdowns > a:hover, .big-second-dropdowns > a:hover {
  background: white;
  color: black !important;
}
.dropdown:hover > .link, .big-dropdown:hover > .link {
  color: black;
}

.second-dropdowns a:last-child {
  border-bottom-right-radius: 30px;
}

.lsa-description{
  max-width: 800px;
  margin: 100px auto 0 auto;
  h1{
    font-size: 2.5rem;
    padding: 1rem;
  }
  h2{
    font-size: 2.3rem;
  }
  p{
    font-size: 1.5rem;
  }
  .counter{
    font-size: 3rem;
  }
}

.stats{
  max-width: 70vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  h2{
    color: var(--lowell-red);
    font-size: 4.5rem;
    font-weight: normal;
  }
  p{
    font-weight: bold;
  }
}

.none{
  display: none;
}
.shown{
  display: block;
}
/* truck loading animation */
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 76vh;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

.link-button{
  width: 300px;
  border-radius: 5px;
  background: var(--lowell-red);
  height: 50px;
  color: white;
  font-size: 1.4rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  &:active{
    background: white;
    color: black;
    border: 3px solid var(--lowell-red);
  }
  &:hover{
    cursor: pointer;
    opacity: 0.5;
  }
}
.instagram-icon{
  padding-left: 5px;
  font-size: 1.5rem;
}
.title-ix{
  max-width: 912px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
}
.title-ix > p, .title-ix > a{
  width: 100%;
  font-size: 1.3rem;
}

.hamburger-menu{
  display: none;
  z-index: 3;
  width: 100%;
}
.hamburger-button, .hamburger-button2{
  font-size: 3rem;
  color: var(--lowell-red);
}
.hamburger-button2{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 4;
}
.ham-first-dropdowns{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  a{
    color: inherit;
    font-size: 1.1rem;
    height: inherit;
    align-items: center;
  }
}
.ham-dropdowns{
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 20px;
  border-left: 3px solid var(--lowell-red);
  width: 100%;
  color: inherit;
  a{
    color: inherit !important;
    font-size: 1.0rem !important;
  }
}
.hamburger-nav{
  position: fixed;
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  right: 0%;
  top: 2%;
  background: white;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  z-index: 3;
  padding-bottom: 30px;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 30px;
  display: none;
  overflow-y: auto;
  color: var(--lowell-red);
}
.ham-second-dropdowns{
  position: absolute;
  z-index: 4;
  top: 50px;
  left: 30px;
  border-left: 3px solid var(--lowell-red);
  color: inherit;
  padding-left: 10px;
  overflow-x: none;
  a{
    font-size: 1rem;
    font-weight: normal;
    height: 31px;
  }
}

.right{
  animation: right 0.3s forwards;
}
.left{
  animation: left 0.3s forwards;
}

@keyframes left{
  from{
    transform: translateX(100vw);
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes right{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100vw);
  }
}

@media (max-width: 1300px){
  .dropdown-icon, .big-dropdown-icon, .second-dropdown-icon{
    font-size: 1.8rem;
  }
  .off-set{
    height: 0;
  }
  .ham-offset{
    height: 164px;
  }
  .nav-links{
    display: none;
  }
  .hero-video{
    height: 66vh;
  }
  .hamburger-menu{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    top: 0;
  }
  .hamburger-nav{
    display: flex !important;
  }
  .board-description p{
    font-size: 1.2rem;
  }
  .board-description h1{
    font-size: 2rem;
  }
  .scroll-icon{
    display: none;
  }
  .intro-container{
    display: none;
  }
}
@media (max-width: 1000px){
  .hero-video{
    height: 50vh;
  }
  .lsa-boards{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 10px;
  }
  .lsa h1{
    text-align: center;
  }
  .board-description{
    width: 90%;
  }
  .board-description h1{
    text-align: center;
  }
  .board-image{
    width: 90%;
  }
  .board-description p{
    font-size: 1rem;
  }
  .stats h2{
    font-size: 2.2rem;
  }
  .stats p{
    font-size: 1rem;
  }
  .stats{
    padding: 0.5rem;
  }
}
@media (max-width: 700px){
  .title{
    height: 150px;
    h1, h2{
      font-size: 2rem;
    }
  }
  .logo{
    img{
      width: 70px;
    }
  }
  p{
    font-size: 1.1rem;
  }
  .pdf{
    height: 400px;
  }
  .absolute-center h1{
    font-size: 2rem;
  }
  .absolute-center p{
    margin-bottom: 2rem;
  }
  .club-description{
    font-size: 1.2rem;
  }
  .club-name{
    font-size: 2rem;
    text-align: center;
  }
  .club-officers, .meeting-times{
    padding: 1rem;
  }
  .stats{
    max-width: none;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    gap: 10px;
    .counter{
      font-size: 3rem;
    }
    p{
      font-size: 1.5rem;
    }
  }
  .hamburger-menu, .ham-offset{
    height: 100px;
  }
  
}