.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}
.off-set{
  height: 132px;
}
.black-underline{
  border-bottom: 1px solid black;
}
.title{
  color: white;
  background: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  padding: 1.5rem;
  gap: 30px;
  text-align: center;
}
.nav-links{
  position: fixed;
  background: transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5% 0 5%;
  height: 132px;
  width: 100vw;
  font-weight: bold;
  z-index: 2;
  top: 0;
  /* position: relative; */

}
.hero-video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}
.link{
  display: block;
  text-decoration: none;
  position: relative;
}
.flex-between{
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
.dropdown-icon, .big-dropdown-icon{
  color: inherit;
  font-size: 1.3rem;
}
.dropdowns{
  background: var(--lowell-red);
  position: absolute;
  z-index: 1;
  top: 76px;
  left: 0px;
  border: 3px solid var(--lowell-red);
  width: 200px;
  display: none;
}
.first-dropdowns:hover .dropdowns,
.dropdowns:hover{
  display: block; 
}

.first-dropdowns:hover .big-dropdowns{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 200px 30px 200px;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
}

.dropdowns:last-child{
  border-bottom-right-radius: 30px;
}
.dropdown:last-child:hover{
  border-bottom-right-radius: 28px;
}
.dropdown > .link{
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.big-dropdown > .link{
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.dropdowns li {
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
.first-dropdowns{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-dropdowns > a {
  display: block; 
  color: orange;
  text-decoration: none;
}
.first-dropdowns > a::after{
  content: '';
  position: absolute;
  height: 5px;
  left: 0;
  bottom: -15px;
  width: 0;
  background: orange;
  transition: width .2s;
}
.first-dropdowns:hover a:after{
  width: 100%;
}
.dropdowns {
  background: var(--lowell-red);
  position: absolute;
  z-index: 1;
  top: 100%; /* Position dropdown below the parent */
  left: 0;
  border: 3px solid var(--lowell-red);
  width: 200px;
  display: none;
}
.big-dropdowns{
  background: var(--lowell-red);
  position: fixed;
  z-index: 1;
  top: 132px;
  left: 0;
  border: 3px solid var(--lowell-red);
  width: 100vw;
  display: none;

}
.big-dropdowns > .big-dropdown{
  width: 370px;
}
.big-dropdown > .link{
  justify-content: space-between;
  border-bottom: 1px solid orange;
}
.big-dropdown:hover .second-dropdowns{
  background: var(--title-color);
  display: flex;
  flex-wrap: wrap;
  left: 0;
  width: 100vw;
  position: fixed;
  top: inherit;
  padding: 0 15%;
  font-weight: normal;
  border-radius: 0;
  gap: 10px;
  justify-content: center;
}
.big-dropdowns:hover a:last-child{
  border-radius: 0px !important;
}

.dropdown:hover, .big-dropdown:hover {
  background: white;
}

.dropdown:hover > .link, .big-dropdown:hover > .link {
  color: black;
}
.hero-image{
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.banner{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.hero-title{
  width: 100%;
  font-size: 2rem;
}
.hero-texts{
  padding: 40px;
  margin: 1rem auto;
  letter-spacing: 5x;
  max-width: 800px;
}
.hero-description{
  margin-top: 40px;
  font-size: 1.3rem;
}
.life-at-lowell-title{
  width: 100%;
  height: 171px;
  background: var(--lowell-red);
  color: white;
  font-size: 1.3rem;
}
.preamble{
  font-size: 1.3rem;
  margin: 2rem auto 2rem auto;
  flex-direction: column;
  padding: 1rem;
}
.preamble > p:nth-child(1){
  border-left: 5px solid gray;
  padding-left: 1rem;
}
.preamble-link-text{
  margin: 1.5rem 0 1.5rem 0;
  max-width: 900px;
}

.absolute-center{
  position: absolute;
  color: white !important;
  width: 100%;
  text-align: center;
  bottom: 0px;
  height: 80%;
}

.absolute-center > h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.absolute-center > *{
  height: 20%;
}
.absolute-center > a{
  padding: 1rem;
  background: var(--lowell-red);
}
.class-board-links{
  background: var(--lowell-red);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 25% 80px 25%;
  gap: 30px;
}
.class-board{
  width: 284px;
  height: 284px;
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 2rem;
  align-items: start;
  padding: 1rem;
  border-radius: 1rem;
}
.news-corner-container{
  background-color: var(--lowell-red);
  flex-direction: column;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  color: white;
}
.news-corner-container > h1{
  width: 100%;
  text-align: center;
}
.pdf{
  margin: 0 auto;
  height: 800px;
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 4 / 3;
}
.instagram-app-link{
  padding: 1rem;
  color: white;
  font-size: 1.3rem;
}
.hero-link{
  width: 284px;
  height: 369px;
}
.hero-links{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 100px auto;
}
.election-title{
  height: 300px;
  background: var(--secondary-color);
}
.election-title h1{
  color: white;
  text-align: center;
  font-size: 3rem;
  line-height: 80px;
}
.election-results{
  min-height: 600px;
}
.freshmen-election-title{
  height: 160px;
}
.election-outer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 912px;
  width: 80vw;
  padding: 30px;
  background-color: lightgray;
  margin: 50px auto 50px auto;
  border-radius: 1rem;
  
}
.election-inner-container{
  padding: 0.5rem;
  background-color: white;
  width: 100%;
}
.election-inner-container > h3{
  height: 50px;
}
.election-inner-container > p{
  height: 40px;
  font-size: 1.2rem;
}

.second-dropdowns {
  background: var(--lowell-red); 
  position: absolute;
  z-index: 2;
  top: 0;
  left: 100%; 
  width: 200px;
  border: 3px solid var(--lowell-red);
  border-radius: 0 0 35px 0;
  overflow-y: auto;
  display: none; 
}

.dropdown:hover .second-dropdowns, .big-dropdown:hover, .big-second-dropdowns {
  display: block;
}


.second-dropdowns > a {
  color: white !important;
  display: block;
  padding: 10px 15px; 
  text-decoration: none; 
  transition: background 0.3s ease, color 0.3s ease;
}


.second-dropdowns > a:hover {
  background: white;
  color: black !important;

}


.second-dropdowns a:last-child {
  border-bottom-right-radius: 30px;
}
.club-info{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 50px;
}
.club-description{
  font-size: 1.5rem;
  max-width: 800px;
}
.meeting-times{
  font-size: 1.3rem;
  max-width: 800px;
  width: 100%;
}
.club-officers{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  gap: 20px;
}
/* truck loading animation */
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 66vh;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

.link-button{
  width: 300px;
  border-radius: 5px;
  background: var(--lowell-red);
  height: 50px;
  color: white;
  font-size: 1.4rem;
}
.link-button:active{
  background: white;
  color: black;
  border: 3px solid var(--lowell-red);
}
.link-button:hover{
  cursor: pointer;
  opacity: 0.5;
}
.instagram-icon{
  padding-left: 5px;
  font-size: 1.5rem;
}
.title-ix{
  max-width: 912px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.title-ix > p, .title-ix > a{
  width: 100%;
  font-size: 1.3rem;
}
.freshmen-resources{
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  width: 400px;
  gap: 30px;
  margin: 2rem;
}
.resource{
  width: 100%;
}
.resource > *{
  margin: 1rem;
}

.hamburger-menu{
  display: none;
  z-index: 3;
  width: 100%;
}
.hamburger-button, .hamburger-button2{
  font-size: 3rem;
  color: teal;
}
.hamburger-button2{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 3rem;
  z-index: 4;
}
.ham-first-dropdowns > a{
  color: inherit;
  font-size: 1.2rem;
  height: inherit;
  align-items: center;
}
.ham-first-dropdowns{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.ham-dropdowns{
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 30px;
  border-left: 3px solid teal;
  width: 100%;
  color: inherit;
  padding-right: 10px;
  /* display: none; */
}
.ham-dropdowns a{
  color: inherit !important;
  font-size: 1.1rem !important;
}

.hamburger-nav{
  position: fixed;
  width: 400px;
  margin: 0 auto;
  right: 2%;
  top: 2%;
  background: #ffffff;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  z-index: 3;
  padding-bottom: 30px;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 30px;
  display: none;
  overflow-y: auto;
  color: var(--lowell-red);
}
.ham-second-dropdowns{
  position: absolute;
  z-index: 4;
  top: 50px;
  left: 30px;
  border-left: 3px solid var(--lowell-red);
  width: 100%;
  color: inherit;
  padding-right: 10px;
  padding-left: 10px;
}
.ham-second-dropdowns > a{
  font-size: 1rem;
  font-weight: normal;
  height: 31px;
}
.ham-first-dropdowns, .dropdown, .big-dropdown {
  transition: margin-bottom 0.3s ease;
}
.right{
  animation: right 0.3s forwards;
}
.left{
  animation: left 0.3s forwards;
}




@keyframes left{
  from{
    transform: translateX(500px);
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes right{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(500px);
  }
}


@media (max-width: 1300px){
  .off-set{
    height: 0;
  }
  .nav-links{
    display: none;
  }
  .hero-video{
    height: 66vh;
  }
  .hamburger-menu{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
  }
  .hamburger-nav{
    display: flex !important;
  }
}
@media (max-width: 1000px){
  .hero-video{
    height: 50vh;
  }
}