.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}

.nav-links{
  background: var(--lowell-red);
  margin: 0 auto;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5% 0 5%;
  
}
.hero-video{
  width: 100%;
  height: 78vh;
  object-fit: cover;
  object-position: top;
}
.link{
  text-decoration: none;
  position: relative;
}

.dropdown-icon{
  font-size: 1.5rem;
}

.dropdowns{
  background: var(--lowell-red);
  position: absolute;
  z-index: 1;
  top: 76px;
  left: 0px;
  border: 3px solid var(--lowell-red);
  width: 200px;
  display: none;
}
.dropdowns:last-child{
  border-bottom-right-radius: 30px;
  
}
.dropdown:last-child:hover{
  border-bottom-right-radius: 28px;
}
.dropdown > .link{
  color: white;
}
.dropdowns li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
.first-dropdowns{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-dropdowns:hover .dropdowns,
.dropdowns:hover {
  display: block;
}
.dropdown:hover{
  background: white;
}
.dropdown:hover .link{
  color: black;
}

.hero-image{
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.banner{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.hero-title{
  width: 100%;
  font-size: 2rem;
}
.hero-texts{
  padding: 80px 0 80px 0;
  margin: 0 auto;
  letter-spacing: 5x;
  max-width: 800px;
}
.hero-description{
  margin-top: 40px;
  font-size: 1.3rem;
}
.life-at-lowell-title{
  width: 100%;
  height: 171px;
  background: var(--lowell-red);
  color: white;
  font-size: 1.3rem;
}
.preamble{
  font-size: 1.3rem;
  margin: 2rem auto 2rem auto;
  flex-direction: column;
  padding: 1rem;
}
.preamble > p:nth-child(1){
  border-left: 5px solid gray;
  padding-left: 1rem;
}
.preamble-link-text{
  margin: 1.5rem 0 1.5rem 0;
  max-width: 900px;
}

.absolute-center{
  position: absolute;
  color: white !important;
  width: 100%;
  text-align: center;
  bottom: 0px;
  height: 80%;
}

.absolute-center > h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.absolute-center > *{
  height: 20%;
}
.absolute-center > a{
  padding: 1rem;
  background: var(--lowell-red);
}
.class-board-links{
  background: var(--lowell-red);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 25% 80px 25%;
  gap: 30px;
}
.class-board{
  width: 284px;
  height: 284px;
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 2rem;
  align-items: start;
  padding: 1rem;
  border-radius: 1rem;
}
.news-corner-container{
  background-color: var(--lowell-red);
  height: 500px;
  flex-direction: column;
}
.news-corners{
  background-color: white;
  padding: 70px;
  width: 80%;
  max-width: 912px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
}
.news-corner{
  font-weight: bold;
  font-size: 1.2rem;
}
.instagram-app-link{
  padding: 1rem;
  color: white;
  font-size: 1.3rem;
}
.hero-link{
  width: 284px;
  height: 369px;
}
.hero-links{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 100px auto;
}
.election-title{
  height: 300px;
  background: var(--secondary-color);
}
.election-title h1{
  color: white;
  text-align: center;
  font-size: 3rem;
  line-height: 80px;
}
.election-results{
  min-height: 600px;
}
.freshmen-election-title{
  height: 160px;
}
.election-outer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 912px;
  width: 50%;
  padding: 30px;
  background-color: lightgray;
  margin: 0 auto;
  border-radius: 1rem;
}
.election-inner-container{
  padding: 0.5rem;
  background-color: white;
  width: 95%;
}
.election-inner-container > h3{
  height: 50px;
}
.election-inner-container > p{
  height: 40px;
  font-size: 1.2rem;
}

.second-dropdowns {
  background: var(--lowell-red); 
  position: absolute;
  z-index: 2;
  top: 0;
  left: 100%; 
  width: 200px;
  border: 3px solid var(--lowell-red);
  border-radius: 0 0 35px 0;
  display: none; 
}

.dropdown:hover .second-dropdowns {
  display: block;
}


.second-dropdowns > a {
  color: white !important;
  display: block;
  padding: 10px 15px; 
  text-decoration: none; 
  transition: background 0.3s ease, color 0.3s ease;
}


.second-dropdowns > a:hover {
  background: white;
  color: black !important;

}


.second-dropdowns a:last-child {
  border-bottom-right-radius: 30px;
}
.club-info{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 50px;
}
.club-description{
  font-size: 1.5rem;
  max-width: 800px;
}
.meeting-times{
  font-size: 1.3rem;
  max-width: 800px;
  width: 100%;
}
.club-officers{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  gap: 20px;
}
/* truck loading animation */
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 66vh;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

.to-instagram-button{
  width: 300px;
  border-radius: 5px;
  background: var(--lowell-red);
  height: 50px;
  color: white;
}
.to-instagram-button:active{
  background: white;
  color: black;
  border: 3px solid var(--lowell-red);
}
