:root{
  --lowell-red: #861212;
  --title-color: #9c1919;
  --secondary-color: #e87b7b;
  --primary-font: 'Open-sans', sans-serif
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}
a{
  text-decoration: none;
}
p{
  font-family: serif;
  font-size: 1.35rem;
}
li{
  list-style: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.bold{
  font-weight: bold;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.white{
  color: white;
}
.black{
  color: black;
}
.center{
  text-align: center;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}
footer{
  height: 100px;
  color: white;
  background: gray;
}
.ml-16{
  margin-left: 4rem;
}