:root{
  --lowell-red: #861212;
  --title-color: #9c1919;
  --secondary-color: #e87b7b;
  --primary-font: 'Inter', sans-serif
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}
li{
  list-style: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.bold{
  font-weight: bold;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.white{
  color: white;
}
.black{
  color: black;
}
.center{
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 1.8rem;
}
footer{
  height: 100px;
  color: white;
  background: var(--lowell-red);
}
footer div{
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}
footer a{
  color: white;
}
footer a:nth-child(1):hover{
  border-radius: 10px;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
footer a:nth-child(2):hover{
  border-radius: 100%;
  color: #1877F2;
}
footer a:nth-child(3):hover{
  color: black;
}
.footer-icon{
  font-size: 2.5rem;
  cursor: pointer;
}
.ml-16{
  margin-left: 4rem;
}
.glowable-text{
  color: red;
}
[glow] .glowable-text {
  color: red;
}
section{
  padding: 1rem;
  min-height: 80vh;
}
.to-right{
  animation: transformRight 0.5s forwards ease;
}
.to-left{
  animation: transformLeft 0.5s forwards ease;
}
.to-up{
  animation: transformUp 0.6s forwards ease;
}

@keyframes transformRight{
  from{
    transform: translateX(-500px);
    visibility: visible;
  }
  to{
    transform: transLateX(0);
    visibility: visible;
  }
}
@keyframes transformLeft{
  from{
    transform: translateX(500px);
    visibility: visible;
  }
  to{
    transform: transLateX(0);
    visibility: visible;
  }
}
@keyframes transformUp{
  from{
    transform: translateY(500px);
    visibility: visible;
  }
  to{
    transform: transLateX(0);
    visibility: visible;
  }
}