:root{
  --lowell-red: #861212;
  --title-color: #9c1919;
  --secondary-color: #e87b7b;
  --primary-font: 'Inter', sans-serif
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.35rem;
}
li{
  list-style: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.bold{
  font-weight: bold;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.white{
  color: white;
}
.black{
  color: black;
}
.center{
  text-align: center;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 1.8rem;
}
footer{
  height: 100px;
  color: white;
  background: gray;
}
footer a, footer p{
  color: inherit;
}
.ml-16{
  margin-left: 4rem;
}
.glowable-text{
  color: red;
}
[glow] .glowable-text {
  color: red;
}
section{
  padding: 1rem;
}
.to-right{
  animation: transformRight 0.5s forwards ease;
}
.to-left{
  animation: transformLeft 0.5s forwards ease;
}
.to-up{
  animation: transformUp 0.6s forwards ease;
}

@keyframes transformRight{
  from{
    transform: translateX(-500px);
    visibility: visible;
  }
  to{
    transform: transLateX(0);
    visibility: visible;
  }
}
@keyframes transformLeft{
  from{
    transform: translateX(500px);
    visibility: visible;
  }
  to{
    transform: transLateX(0);
    visibility: visible;
  }
}
@keyframes transformUp{
  from{
    transform: translateY(500px);
    visibility: visible;
  }
  to{
    transform: transLateX(0);
    visibility: visible;
  }
}